
# [build]

# Consider taking advangate of it before enabling it.
# [target.wasm32-unknown-unknown]
# runner = "wasm-server-runner"

# for Croscompile On Linux For Windows
[target.x86_64-pc-windows-msvc]
linker = "lld"
rustflags = [
  "-Lnative=/opt/xwin/crt/lib/x86_64",
  "-Lnative=/opt/xwin/sdk/lib/um/x86_64",
  "-Lnative=/opt/xwin/sdk/lib/ucrt/x86_64"
]
